<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\Lord\AppData\Local\Temp\libhello.dll5482796623872077063" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>