<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\Lord\AppData\Local\Temp\libhello.dll7674034491607612436" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>